.git
.github
node_modules
vendor
.env
database/*.sqlite
storage/logs
storage/app
storage/framework/cache
storage/framework/sessions
storage/framework/views
bootstrap/cache
tests
.dockerignore
.gitignore
.gitattributes
phpunit.xml
phpstan.neon
pint.json
.prettierrc
eslint.config.js
.pre-commit-config.yaml
*.md
